<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <% if admin_user? %>
        <th>First name</th>
        <th>Last name</th>
      <% end %>
      <th>Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <% if admin_user? %>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
        <% end %>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <% if admin_user? %>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if not logged_in? %>
  <%= link_to 'New User', new_user_path %>
<% end %>
